<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AppHealth.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>   
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <applicationSettings>
        <AppHealth.Properties.Settings>
            <setting name="MailPort" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>Debug</value>
            </setting>
            <setting name="SendCrashReports" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MailFrom" serializeAs="String">
                <value/>
            </setting>
            <setting name="MailTo" serializeAs="String">
                <value/>
            </setting>
            <setting name="MailUser" serializeAs="String">
                <value/>
            </setting>
            <setting name="MailPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="MailServer" serializeAs="String">
                <value/>
            </setting>
            <setting name="MailUseSSL" serializeAs="String">
                <value>False</value>
            </setting>
        </AppHealth.Properties.Settings>
    </applicationSettings>
</configuration>
